[Unit]
Description=Redirect HTTP requests
After=network.target

[Service]
Type=forking
ExecStart="sudo {{ GOBIN }}/redirect {{ item }} > /var/log/redirects.log 2>&1 &"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s


[Install]
WantedBy=multi-user.target